<div>
  {% render 'breadcrumbs', elementSettings: section.settings %}
</div>
{% schema %}
{
  "name": "Breadcrumbs",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "name",
      "label": "Home name"
    }
  ],
  "presets": [
    {
      "name": "Breadcrumbs"
    }
  ]
}
{% endschema %}
